In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('A.csv')

In [4]:
df.head()

   precipitation
0          0.095
1          0.060
2          0.115
3          0.070
4          0.450

In [7]:
df['precipitation'].mean()

0.19796296296296298

In [8]:
df['precipitation'].median()

0.205

In [9]:
df['precipitation'].std()

0.13278278429927506